{extend name="default/base" /}
{block name='css'}
<link rel="stylesheet" type="text/css" href="__STATIC__/plugins/mmgrid/mmGrid.css?v={$v}" />

{/block}

{block name="main"}
<div class='wst-toolbar'>
    <input type='text' class="j-ipt" id='trade_no' placeholder='订单号'/>
    <select name="refundTo" id="refundTo" class="j-ipt">
        <option value="-1">支付方式</option>
        <option value="3">支付宝</option>
        <option value="2">小程序</option>
        <option value="1">微信</option>
        <option value="0">其他</option>
    </select>
    <select id='refundStatus' class='j-ipt'>
        <option value='-1'>退款状态</option>
        <option value='1'>退款中</option>
        <option value='2'>已退款</option>
        <option value='3'>退款失败</option>
        <option value='4'>退货退款同意</option>
        <option value='7'>等待商家收货</option>
    </select>
    <input type="text" id="startDate" name="startDate" class="laydate-icon j-ipt" maxLength="20" value='' placeholder='开始日期'/>
    <input type="text" id="endDate" name="endDate" class="laydate-icon j-ipt" maxLength="20" value='' placeholder='结束日期'/>
    <a class="btn btn-primary" onclick="loadRefundGrid(0)"><i class="fa fa-search"></i>查询</a>
    <!--<a class="btn btn-primary" style="float:right;" onclick="javascript:toExport(2,0,'')"><i class="fa fa-sign-out"></i>导出</a>-->
</div>
<div class='wst-grid'>
    <div id="mmg" class="mmg"></div>
    <div id="pg" style="text-align: right;"></div>
</div>
<style type="text/css">
    .wst-tab-nav{border-bottom: 0px;}
</style>
{/block}
{block name="js"}
<script src="__STATIC__/plugins/mmgrid/mmGrid.js?v={$v}" type="text/javascript"></script>
<script type='text/javascript' src='__SHOP__/orderrefunds/orderrefunds.js'></script>
<script>
    $(function(){initRefundGrid({$p});})
</script>
{/block}