
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>映购，一个就购了</title>
	<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta content="telephone=no" name="format-detection" />
	<meta http-equiv="Cache-Control" content="no-transform" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="applicable-device" content="mobile" />
	<style type="text/css">body{max-width:750px;margin:0px auto;background:#F7B6BB;}</style>
</head>

<body>
	<a href="javascript:void(0);" id="icode" ><img src="https://boardcast-1257835755.cos.ap-shanghai.myqcloud.com/ygzb202004221034555733.jpg" border="0" style="width:100%;" /></a>
	<div style="width: 100%;position: fixed;background: #FE3731;color: #fff;line-height: 70px;text-align: center;bottom: 0;">
		<a href="javascript:void(0);" style="color: #fff;text-decoration: none" onclick="down()">立即下载</a>
	</div>
</body>
</html>
<script type="text/javascript">
    function down(){
        var phonetype = ismobile()
		if (phonetype == 0) {
            // 苹果手机
			return window.location.href = 'https://apps.apple.com/cn/app/id1499774571'
		} else {
            // 安卓手机
            if(isWeiXin()){
                alert('请用浏览器打开');
                return false;
            }
		}
        //初始化
        location.href = "http://down.jiyw.com/ts/20200429100.apk";
    }
    //移动设备
    function isMb(){
        var ua = navigator.userAgent.toLowerCase();
        var reg = ["android", "iphone", "symbianos", "windows phone", "ipad", "ipod"];
        for(var v=0; v<reg.length; v++){
            if(ua.indexOf(reg[v]) > 0) return true;
        }
        return false;
    }
    //判断是否微信登陆
    function isWeiXin() {
        var ua = window.navigator.userAgent.toLowerCase();
        if (ua.match(/MicroMessenger/i) == 'micromessenger') {
            return true;
        } else {
            return false;
        }
    }
    /**
     * [isMobile 判断平台]
     * @param test:	0:iPhone	1:Android
     */
    function ismobile(){
        var u = navigator.userAgent, app = navigator.appVersion;
        if(/AppleWebKit.*Mobile/i.test(navigator.userAgent) || (/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/.test(navigator.userAgent))){
            if(window.location.href.indexOf("?mobile")<0){
                try{
                    if(/iPhone|mac|iPod|iPad/i.test(navigator.userAgent)){
                        return '0';
                    }else{
                        return '1';
                    }
                }catch(e){}
            }
        }else if( u.indexOf('iPad') > -1){
            return '0';
        }else{
            return '1';
        }
    }
</script>