{extend name="base" /}
{block name="js"}
<script src="__ADMIN__/uservalidates/uservalidate.js?v={$v}" type="text/javascript"></script>
{/block}
{block name="main"}
<style>
  th{height:25px;}
</style>
<form autocomplete='off' id='editFrom'>
    <input type='hidden' id='validateId' class='ipt' value="{$object['validateId']}"/>
    <input type='hidden' id='img-positvie' class='id-positive' value="{$object['id_card_positive']}"/>
    <input type='hidden' id='img-back' class='id-back' value="{$object['id_card_back']}"/>
    <div id="window-img" style="display: none"></div>
    <table class='wst-form wst-box-top'>
        <tr>
            <th width='150'>主播ID：</th>
            <td>
                {$object['user_id']}
            </td>
        </tr>
        <tr>
            <th width='150'>真实姓名：</th>
            <td>
                {$object['true_name']}
            </td>
        </tr>
        <tr>
            <th width='150'>身份证号：</th>
            <td>
                {$object['id_card']}
            </td>
        </tr>
        <tr>
            <th width='150'>性别：</th>
            <td>
                {if $object['sex']==1}男{else}女{/if}
            </td>
        </tr>
        <tr>
            <th>身份证正面照：</th>
            <td><img onclick=showImg(1) src="{$object['id_card_positive']}" style='height:50px;width:50px;' /></td>
        </tr>
        <tr>
            <th>身份证反面照：</th>
            <td><img onclick=showImg(2) src="{$object['id_card_back']}" style='height:50px;width:50px;' /></td>
        </tr>
        <tr>
            <th width='150'>手机号：</th>
            <td>
                {$object['phone']}
            </td>
        </tr>
        <tr>
            <th>认证时间：</th>
            <td>{$object['create_time']}</td>
        </tr>
        <tr>
           <th>认证结果：</th>
           <td class='layui-form'>
             <label>
               <input type='radio' name='status' class='ipt' value='2' title='通过'/>
             </label>
             <label>
               <input type='radio' name='status' class='ipt' value='3' title='拒绝'/>
             </label>
           </td>
        </tr>
        <tr >
           <th valign='top'>备注：<br/>(用户可见)&nbsp;&nbsp;</th>
           <td>
             <textarea id='remark' class='ipt' style='width:70%;height:80px;'></textarea>
           </td>
        </tr>
        <tr>
           <td colspan='2' align='center'>
           		<button type="button" class="btn btn-primary btn-mright" onclick='javascript:save({$p})'><i class="fa fa-check"></i>提交</button>
              <button type="button" class="btn" onclick="javascript:location.href='{:Url(\'admin/uservalidates/index\',\'p=\'.$p)}'"><i class="fa fa-angle-double-left"></i>返回</button>
           </td>
        </tr>
    </table>
</form>
{/block}