{extend name="base" /}
{block name="js"}
<script src="__ADMIN__/tmembervalidates/tmembervalidate.js?v={$v}" type="text/javascript"></script>
{/block}
{block name="main"}
<form autocomplete='off'>
    <input type='hidden' id='validateId' class='ipt' value="{$object['validateId']}"/>
    <input type='hidden' id='img-positvie' class='id-positive' value="{$object['id_card_positive']}"/>
    <div id="window-img" style="display: none"></div>
    <table class='wst-form wst-box-top'>
        <tr>
           <th width='150'>主播ID：</th>
           <td>
               {$object['user_id']}
           </td>
        </tr>
        <tr>
           <th width='150'>真实姓名：</th>
           <td>
           {$object['true_name']}
           </td>
        </tr>
        <tr>
            <th width='150'>身份证号：</th>
            <td>
                {$object['id_card']}
            </td>
        </tr>
        <tr>
            <th>身份证照片：</th>
            <td><img onclick=showImg(1) src="{$object['id_card_positive']}" style='height:50px;width:50px;' /></td>
        </tr>
        <tr>
           <th>认证时间：</th>
           <td>{$object['create_time']}</td>
        </tr>
        <tr>
            <th>状态：</th>
            <td>{if $object['status']==2}成功{elseif $object['status']==3}失败{else}待处理{/if}</td>
        </tr>
        <tr >
           <th valign='top'>备注：<br/>(用户可见)&nbsp;&nbsp;</th>
           <td>
             {$object['remark']}
           </td>
        </tr>
        <tr>
           <td colspan='2' align='center'>
           	<button type="button" class="btn" onclick="javascript:location.href='{:Url(\'admin/tmembervalidates/index\',\'p=\'.$p)}'"><i class="fa fa-angle-double-left"></i>返回</button>
           </td>
        </tr>
    </table>
</form>
{/block}